/* ==========================================================================
   Notifications
   ========================================================================== */

.aspx-notifications-popover {
}



/* ==========================================================================
   New
   ========================================================================== */

.aspx-notifications-popover__new {
}



/* ==========================================================================
   Read
   ========================================================================== */

.aspx-notifications-popover__read {
    background-color: #f9f9f9;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-radius: 0 0 6px 6px;
}



/* ==========================================================================
   Container
   ========================================================================== */

.aspx-notifications-popover__container {
    padding: 32px 32px;
    /*max-width: 768px;*/
    margin: 0 auto;
}

.is-mobile .aspx-notifications-popover__container {
    padding: 20px 0;
}



/* ==========================================================================
   Header
   ========================================================================== */

.aspx-notifications-popover__header {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    margin-bottom: .3em;
}

.is-mobile .aspx-notifications-popover__header {
    padding: 0 16px; /* container has no horizontal padding on mobile */
}



/* ==========================================================================
   Title
   ========================================================================== */

.aspx-notifications-popover__title {
    font-weight: bold;
    font-size: 1.1em;
    flex: 1;
}

.aspx-notifications-popover__new:not(.EMPTY) .aspx-notifications-popover__title {
    color: #f44717;
}

.is-mobile .aspx-notifications-popover__title {
    font-size: 1em;
}



/* ==========================================================================
   Actions
   ========================================================================== */

.aspx-notifications-popover__actions {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
}



/* ==========================================================================
   Mark All as Read Button
   ========================================================================== */

.aspx-notifications-popover__mark-all-as-read-button {
    color: #555;
    padding: 0 2px;
    cursor: pointer;
}

.aspx-notifications-popover__new.EMPTY .aspx-notifications-popover__mark-all-as-read-button {
    display: none;
}



/* ==========================================================================
   Settings Link
   ========================================================================== */

.aspx-notifications-popover__settings-link {
    width: 16px;
    height: 16px;
    padding: 6px;
    border-radius: 50%;
    color: #666;
}

.aspx-notifications-popover__settings-link:active,
.aspx-notifications-popover__settings-link:focus {
    color: #000;
    background-color: rgba(0, 0, 0, .08);
}



/* ==========================================================================
   Empty Message
   ========================================================================== */

.aspx-notifications-popover__empty-message {
    text-align:center;
    display: none;
    margin-top: -8px;
}

.aspx-notifications-popover__new.EMPTY .aspx-notifications-popover__empty-message,
.aspx-notifications-popover__read.EMPTY .aspx-notifications-popover__empty-message {
    display: block;
}

.is-mobile .aspx-notifications-popover__empty-message {
    margin-top: 8px;
    font-size: 14px;
}



/* ==========================================================================
   Item
   ========================================================================== */

.aspx-notifications-popover__item {
    display: flex;
    gap: 12px;
    padding: 6px;
    margin: 0 -6px;
    color: inherit;
    text-decoration: none;
    border-radius: 6px;
    /*transition: background-color .06s;*/
}

.is-mobile .aspx-notifications-popover__item {
    padding: 6px 12px; /* container has no horizontal padding on mobile */
    margin: 0;
    border-radius: 0;
    gap: 8px;
}

.is-desktop .aspx-notifications-popover__item:hover {
    background-color: rgba(35, 119, 210, .08);
}

.aspx-notifications-popover__item.EXPANDED,
.is-desktop .aspx-notifications-popover__item.EXPANDED:hover {
    background-color: rgba(0, 0, 0, .08);
}

.aspx-notifications-popover__new.EMPTY .aspx-notifications-popover__item,
.aspx-notifications-popover__read.EMPTY .aspx-notifications-popover__item {
    display: none;
}



/* ==========================================================================
   Link
   ========================================================================== */

.aspx-notifications-popover__link {
    display: flex;
    flex: 1;
    gap: inherit;
    color: inherit;
    text-decoration: none;
    padding: 2px;
}

.aspx-notifications-popover__link:hover {
    text-decoration: none;
}



/* ==========================================================================
   Icon
   ========================================================================== */

.aspx-notifications-popover__icon {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-color: #ddd;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.aspx-notifications-popover__item.COMMENT .aspx-notifications-popover__icon {
    background-color: #34aadc;
    background-image: url('/Images/svg-icons/NotificationIcons/comment-ffffff.svg');
    background-image: url('/Images/svg-icons/NotificationIcons/chat-text-fill-ffffff.svg');
    background-image: url('/Images/svg-icons/NotificationIcons/discussion-fill-ffffff.svg');
    background-size: 24px 24px;
}

.aspx-notifications-popover__item.NEWS .aspx-notifications-popover__icon {
    background-color: #ff2d55;
    background-image: url('/Images/svg-icons/NotificationIcons/megaphone-fill-ffffff.svg');
    background-size: 18px 18px;
}

.aspx-notifications-popover__item.INTERNSHIP .aspx-notifications-popover__icon {
    background-color: #f77838;
    background-image: url('/Images/svg-icons/NotificationIcons/briefcase-fill-ffffff.svg');
    background-size: 18px 18px;
}

.aspx-notifications-popover__item.SURVEY .aspx-notifications-popover__icon {
    background-color: #5ca3ea;
    background-image: url('/Images/svg-icons/clipboard-ffffff.svg');
    background-image: url('/Images/svg-icons/NotificationIcons/clipboard-fill-ffffff.svg');
    background-size: 18px 18px;
}

.aspx-notifications-popover__item.LOGS .aspx-notifications-popover__icon {
    background-color: #f89f0f;
    background-image: url('/Images/svg-icons/NotificationIcons/journal-bookmark-fill-ffffff.svg');
    background-size: 18px 18px;
}

.aspx-notifications-popover__item.SUBMISSION .aspx-notifications-popover__icon {
    background-color: #5856d6;
    background-image: url('/Images/svg-icons/NotificationIcons/inbox-ffffff.svg');
    background-size: 20px 20px;
}

.aspx-notifications-popover__item.GRADE .aspx-notifications-popover__icon {
    background-color: #5856d6;
    background-image: url('/Images/svg-icons/NotificationIcons/star-fill-ffffff.svg');
    background-size: 24px 24px;
}

.aspx-notifications-popover__item.COURSE-ITEM .aspx-notifications-popover__icon {
    background-color: #5856d6;
    background-image: url('/Images/svg-icons/NotificationIcons/file-check-fill-ffffff.svg');
}

.aspx-notifications-popover__item.CHANNEL .aspx-notifications-popover__icon {
    background-color: #04d30a;
    background-color: #00a40e;
    background-image: url('/Images/svg-icons/NotificationIcons/hash-ffffff.svg');
    background-image: url('/Images/svg-icons/NotificationIcons/hashtag-ffffff.svg');
    background-size: 20px 20px;
}



/* ==========================================================================
   Content
   ========================================================================== */

.aspx-notifications-popover__content {
    flex: 1;
    line-height: 1.3;
}



/* ==========================================================================
   Description
   ========================================================================== */

.aspx-notifications-popover__description {
    font-size: 16px;
    line-height: 1.2;
}



/* ==========================================================================
   Meta
   ========================================================================== */

.aspx-notifications-popover__meta {
    font-size: 13px;
    color: #777;
    font-weight: normal;
    display: flex;
    gap: 0 4px;
    flex-wrap: wrap;
    line-height: 1.2;
}



/* ==========================================================================
   Commented by Users
   ========================================================================== */

.aspx-notifications-popover__commented-by-users {
    margin-top: 6px;
    display: flex;
    gap: 2px;
}



/* ==========================================================================
   Commented by User
   ========================================================================== */

.aspx-notifications-popover__commented-by-user {
    width: 2em;
    height: 2em;
    margin-left: -10px;
}

.aspx-notifications-popover__commented-by-user:first-child {
    margin-left: 0;
}

.aspx-notifications-popover__commented-by-user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



/* ==========================================================================
   Commented by Usernames
   ========================================================================== */

.aspx-notifications-popover__commented-by-usernames {
    color: #666;
}



/* ==========================================================================
   Actions Menu 
   ========================================================================== */

.aspx-notifications-popover__actions-menu {
    position: relative;
    display: flex;
    align-items: center;
}



/* ==========================================================================
   Actions Menu Button
   ========================================================================== */

.aspx-notifications-popover__actions-menu-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.aspx-notifications-popover__actions-menu-button.keyboard-focus:focus {
    border-radius: 4px;
    box-shadow: 0 0 2px 2px #0780ff;
}



/* ==========================================================================
   Actions Menu Icon
   ========================================================================== */

.aspx-notifications-popover__actions-menu-icon {
    height: 1.5em;
    padding: 4px;
    opacity: 0.8;
    display: block;
}



/* ==========================================================================
   Actions Menu Items
   ========================================================================== */

.ascx-notification__actions-menu-items {
    display: none;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 100;
    font-size: 13px;
}

.aspx-notifications-popover__item.EXPANDED .ascx-notification__actions-menu-items {
    display: block;
}



/* ==========================================================================
   Actions Menu Item
   ========================================================================== */

.ascx-notification__actions-menu-item {
    font-weight: normal;
    background: none;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #aaa;
    padding: 8px 14px;
    border-radius: 24px;
    cursor: pointer;
    display: block;
    background-color: #fff;
}

.ascx-notification__actions-menu-item:hover {
    text-decoration:none;
}



/* ==========================================================================
   View More Link
   ========================================================================== */

.aspx-notifications-popover__view-more-link {
    display: block;
    text-align: center;
    padding: 2em 0 1em 0;
}

.is-mobile .aspx-notifications-popover__view-more-link {
    padding: 2em 0;
}

/*.aspx-notifications-popover__read.EMPTY .aspx-notifications-popover__view-more-link {
    display: none;
}
*/