/* ==========================================================================
   Back Link
   ========================================================================== */

.back-link {
    padding: 12px 14px;
    display: flex;
    align-items: center;
    position: relative;
    color: #0079f2;
    color: #006bdb;
    gap: 2px;
}

.back-link svg {
    height: 1em;
    width: 1em;
}
