/* ==========================================================================
   Navigation 
   ========================================================================== */

.group-learning-content-item-page__navigation {
    display: flex;
    justify-content: center;
    padding: 0 0 128px;
    padding: 40px 0 48px;
    border-top: 1px solid #d9d9d9;
}

.print .group-learning-content-item-page__navigation {
    display: none;
}



/* ==========================================================================
   Previous / Next Link
   ========================================================================== */

.group-learning-content-item-page__previous-link,
.group-learning-content-item-page__next-link {
    width: 38px;
    height: 38px;
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #555;
    border-radius: 50%;
    margin: 0 4px;
    opacity: .8;
    transition-property: opacity, border-color;
    transition-duration: .1s;
}

.group-learning-content-item-page__previous-link:hover,
.group-learning-content-item-page__next-link:hover {
    border-color: #222;
    opacity: 1;
    background-color: #f8f8f8;
}

.group-learning-content-item-page__previous-link:active,
.group-learning-content-item-page__next-link:active {
    border-color: #000;
    opacity: 1;
    background-color: #ddd;
}

.group-learning-content-item-page__previous-link img,
.group-learning-content-item-page__next-link img {
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    top: 12px;    
    opacity: .4;
    opacity: .8;
    transition-property: opacity;
    transition-duration: .1s;
}

.group-learning-content-item-page__previous-link img {
    left: 9px;
}

.group-learning-content-item-page__next-link img {
    left: 13px;
}

.is-desktop .group-learning-content-item-page__previous-link:hover img,
.is-desktop .group-learning-content-item-page__next-link:hover img {
    opacity: 1;
}