/* ==========================================================================
   Input Group
   ========================================================================== */

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}



/* ==========================================================================
   CENTER
   ========================================================================== */

.input-group.CENTER {
    justify-content: center;
}



/* ==========================================================================
   RIGHT
   ========================================================================== */

.input-group.RIGHT {
    justify-content: flex-end;
}



/* ==========================================================================
   LARGE SPACE
   ========================================================================== */

.input-group.LARGE-SPACE {
    column-gap: 16px;
}



/* ==========================================================================
   XL SPACE
   ========================================================================== */

.input-group.XL-SPACE {
    column-gap: 24px;
}
