/* ==========================================================================
   Modal 
   ========================================================================== */

.modal {
    --animation-duration: .2s;
}

.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 0;
    margin: 0;
    border: 0;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scrollbar-width: thin; /* Firefox */
    transform-origin: center 128px;
    animation-duration: var(--animation-duration);
}

.is-mobile .modal {
    background-color: #fff;
}

.is-desktop .modal::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
    padding: 4px;
}

.is-desktop .modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.modal[open] {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    animation-name: modal-fade-in;
    /*animation-timing-function: ease-out;*/
}

.modal.FADE-OUT {
    animation-name: modal-fade-out;
    /*animation-timing-function: ease-in;*/
}

@keyframes modal-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-fade-out {
    to {
        opacity: 0;
    }
}



/* ==========================================================================
   Content Container
   ========================================================================== */

.modal__content-container {
    width: 768px;
    min-height: 64px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
    background: #fff;
    border-radius: 16px;
    font-size: inherit;
    border: none;
    padding: 0;
    margin: 32px auto;
    transform-origin: center 128px;
    animation-duration: var(--animation-duration);
}

.is-mobile .modal__content-container {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    min-height: 100%;
    margin: 0;
}

.print .modal__content-container {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    min-height: 100%;
    margin: 0;
}


.modal[open] .modal__content-container {
    animation-name: modal-content-container-fade-in;
    /*animation-timing-function: ease-in;*/
}

.modal.FADE-OUT .modal__content-container {
    animation-name: modal-content-container-fade-out;
    /*animation-timing-function: ease-out;*/
}

@keyframes modal-content-container-fade-in {
    from {
        transform: scale(.98);
    }

    to {
        transform: scale(1);
    }
}

@keyframes modal-content-container-fade-out {
    to {
        transform: scale(.98);
    }
}



/* ==========================================================================
   Backdrop
   ========================================================================== */

.modal::backdrop {
    display: none;
}



/* ==========================================================================
   Modal close button
   ========================================================================== */

.modal__close-button {
    appearance: none;
    outline: none;
    background-image: url(/Images/svg-icons/close.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    border: none;
    background-color: #eee;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #bbb;
    position: absolute;
    right: 12px;
    top: 11px; /* Visual adjustment */
    transition: background-color .1s, box-shadow .1s;
}

.modal__close-button.keyboard-focus:focus {
    box-shadow: 0 0 1px 3px rgba(0,0,0,.2);
}

.modal__close-button:hover {
    background-color: #ddd;
    border-color: #aaa;
}

.modal__close-button:active {
    background-color: #ccc;
    border-color: #999;
}

.print .modal__close-button {
    display: none;
}