/* ==========================================================================
   Print Page Setup
   ========================================================================== */

@page {
    margin: 48px;
}



/* ==========================================================================
   Force Background Image Display
   ========================================================================== */

.print * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}



/* ==========================================================================
   Tool: Hide
   ========================================================================== */

.print .print__hide {
    display: none;
}



/* ==========================================================================
   Tool: Avoid Break Inside
   ========================================================================== */

.print .print__avoid-break-inside {
    break-inside: avoid-page;
}



/* ==========================================================================
   Site
   ========================================================================== */

.print body {
    background-color: #fff;
}

.print .site-header {
    position: static;
}

.print .site-sub-navigation {
    overflow: hidden; /* Prevent scrollbars */
}

.print .site-content {
    padding-left: 0;
    padding-top: 0;
}



/* ==========================================================================
   Pagination
   ========================================================================== */

.print .pagination__container {
    display: none;
}



/* ==========================================================================
   Page
   ========================================================================== */

.print .page {
    max-width: unset;
    padding: 32px 0 0;
}

.print .page__sheet {
    /*margin: 0;*/
}

.print .page__sheet {
    border-radius: 0;
    box-shadow: none;
}

.print .page__content-wrap {
    max-width: unset;
    padding: 0;
}



/* ==========================================================================
   Breadcrumb
   ========================================================================== */

.print .page__breadcrumb,
.print .breadcrumb {
    display: none;
}
