/* ==========================================================================
   Radio 
   ========================================================================== */

.radio {
    display: inline-block;
    position: relative;
    line-height: 16px;
    padding: 7px 0;
    vertical-align: baseline;
}

.radio,
.radio *,
.radio *::before,
.radio *::after {
    box-sizing: border-box;
}



/* ==========================================================================
   Block
   ========================================================================== */

.radio.BLOCK {
    display:block;
}



/* ==========================================================================
   Input
   ========================================================================== */

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}



/* ==========================================================================
   Label - The text
   ========================================================================== */

.radio label {
    cursor: pointer;
    display: inline-block;
    padding-left: 24px;
}

.radio input[type=radio]:disabled + label {
    opacity: .8;
    cursor: default;
}



/* ==========================================================================
   ::before - The circle outline
   ========================================================================== */

.radio label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top:7px;
    left: 0;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    background-color: #fff;
    transition: border-color linear .2s, box-shadow .2s linear;
}

/* Focus */
.radio input[type=radio].keyboard-focus:focus + label::before {
    border-color: #3C9AF4;
    box-shadow: 0 0 6px rgba(60, 154, 244, .8);
}

/* Checked */
.radio input[type=radio]:checked + label::before {
    border-color: #333;
}

/* Disabled */
.radio input[type=radio]:disabled + label::before {
    border-color: #ccc;
    background-color: #f0f0f0;
}



/* ==========================================================================
   ::after - The Dot Symbol
   ========================================================================== */

.radio label::after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    transform: scale(0);
    opacity:0;
    left: 4px;
    top:11px;
    background-color: #666;
    border-radius: 50%;
    transition-property:opacity, transform;
    transition-duration:.16s;
}

/* Checked */
.radio input[type=radio]:checked + label::after {
    transform: scale(1);
    opacity:1;
}

/* Disabled and checked */
.radio input[type=radio]:disabled:checked + label::after {
    opacity:.8;
}



/* ==========================================================================
   TINY
   ========================================================================== */

.radio.TINY {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0;
}

.radio.TINY label {
    padding-left: 20px;
}

.radio.TINY label::before {
    width: 14px;
    height: 14px;
    top: 5px;
}

.radio.TINY label::after {
    width: 6px;
    height: 6px;
    top: 9px;
}



/* ==========================================================================
   SMALL
   ========================================================================== */

.radio.SMALL {
    font-size: 13px;
    line-height: 16px;
    padding: 6px 0;
}

.radio.SMALL label {
    padding-left: 22px;
}

.radio.SMALL label::before {
    width: 14px;
    height: 14px;
}

.radio.SMALL label::after {
    width: 6px;
    height: 6px;
}



/* ==========================================================================
   LARGE
   ========================================================================== */

.radio.LARGE {
    font-size: 15px;
    line-height: 18px;
    padding: 7px 0;
}

.radio.LARGE label {
    padding-left: 26px;
}

.radio.LARGE label::before {
    width: 18px;
    height: 18px;
}

.radio.LARGE label::after {
    width: 10px;
    height: 10px;
}



/* ==========================================================================
   BIG
   ========================================================================== */

.radio.BIG {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 0;
}

.radio.BIG label {
    padding-left: 28px;
}

.radio.BIG label::before {
    width: 20px;
    height: 20px;
    top: 9px;
}

.radio.BIG label::after {
    width: 12px;
    height: 12px;
    top: 13px;
}



/* ==========================================================================
   HUGE
   ========================================================================== */

.radio.HUGE {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0;
}

.radio.HUGE label {
    padding-left: 30px;
}

.radio.HUGE label::before {
    width: 22px;
    height: 22px;
    top: 10px;
}

.radio.HUGE label::after {
    width: 12px;
    height: 12px;
    top:15px;
    left:5px;
}



/* ==========================================================================
   MASSIVE
   ========================================================================== */

.radio.MASSIVE {
    font-size: 20px;
    line-height: 24px;
    padding: 12px 0;
}

.radio.MASSIVE label {
    padding-left: 32px;
}

.radio.MASSIVE label::before {
    width: 24px;
    height: 24px;
    top: 12px;
}

.radio.MASSIVE label::after {
    width: 14px;
    height: 14px;
    top: 17px;
    left: 5px;
}