/* ==========================================================================
   Select
   ========================================================================== */

.select {
    display: inline-block;
    margin: 0;
    border: 1px solid #d0d0d0;
    background-image: url('../../../Images/fa/angle-down_14_5_000000.png');
    background-repeat:no-repeat;
    background-position:right 4px top 6px;
    background-size: 18px 18px;
    background-color:#fff;
    border-radius: 3px;
    font-family: inherit;
    /* Firefox don't respect line-height, so we're using a value close to Firefox. */
    /* A select will never wrap text, so line-height doesn't matter so much */
    /* Other padding calculated on line-height to get 30px total height */
    line-height: 22px;
    padding: 3px 26px 3px 6px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: baseline;
    max-width: 100%;
}


.select,
.select *,
.select *::before,
.select *::after {
    box-sizing: border-box;
}


.select::-ms-expand {
    display: none;
}



/* ==========================================================================
   Block
   ========================================================================== */

.select.BLOCK {
    display:block;
    width:100%;
}



/* ==========================================================================
   Focus
   ========================================================================== */

.select:focus {
    border-color: #3C9AF4;
    border-color: #0780ff;
    outline: 0;
    box-shadow: 0 0 3px rgba(60, 154, 244, .6);
    box-shadow: 0 0 3px rgba(7, 128, 255, 1);
}


/* ==========================================================================
   Disabled
   ========================================================================== */

.select[disabled] {
    /*color:#888;
    border-color:#ccc;
    background-color:#f6f6f6;*/
    opacity:.6;
}


/* ==========================================================================
   Sizes
   ========================================================================== */

.select.TINY {
    font-size: 12px;
    line-height: 18px;
    padding: 2px 22px 2px 6px;
    background-position: right 3px top 3px;
}

.select.SMALL {
    font-size:13px;
    line-height:20px;
    padding: 3px 24px 3px 6px;
    background-position:right 3px top 5px;
}

.select.LARGE {
    font-size: 15px;
    line-height: 22px;
    padding: 4px 28px 4px 8px;
    background-size: 20px 20px;
    background-position: right 5px top 6px;
}

.select.BIG {
    font-size: 16px;
    line-height: 24px;
    padding: 5px 32px 5px 10px;
    background-size: 20px 20px;
    background-position: right 5px top 8px;
}

.select.HUGE {
    font-size: 18px;
    line-height: 26px;
    padding: 7px 32px 7px 10px;
    background-size: 20px 20px;
    background-position: right 5px top 11px;
}

.select.MASSIVE {
    font-size: 20px;
    line-height: 28px;
    padding: 9px 32px 9px 10px;
    background-size: 20px 20px;
    background-position: right 5px top 14px;
}