/* ==========================================================================
   Simple Form
   ========================================================================== */

.simple-form {
    padding:24px;
}

.is-mobile .simple-form {
    padding: 16px 16px 64px 16px;
   /* margin-bottom: 64px;*/
}



/* ==========================================================================
  Section
  ========================================================================== */

.simple-form__section {
    margin-bottom: 32px;
}



/* ==========================================================================
   Section Title
   ========================================================================== */

.simple-form__section-title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 15px;
    /*color:#333;*/
    display:block;
}



/* ==========================================================================
   Field
   ========================================================================== */

.simple-form__field {
    margin-bottom:18px;
    display: flex;
    position: relative; /* Needed for the required asterix on label */
}

.simple-form.SINGLE-COLUMN .simple-form__field {
    display: block;
}

.is-mobile .simple-form__field {
    display: block;
}



/* ==========================================================================
   Field Name
   ========================================================================== */

.simple-form__field-name {
    display: block;
    width: 33%;
    padding: 5px 14px 0 0;
    padding: 7px 14px 0 0;
    text-align: right;
    line-height: 16px;
    font-weight:600;
}

.simple-form.EQUAL-COLUMNS .simple-form__field-name {
    width: 50%;
}

.simple-form.SINGLE-COLUMN .simple-form__field-name {
    width:100%;
    padding:0 0 2px;
    text-align: left;
}

.is-mobile .simple-form__field-name,
.is-mobile .simple-form.EQUAL-COLUMNS .simple-form__field-name,
.is-mobile .simple-form.SINGLE-COLUMN .simple-form__field-name {
    width: 100%;
    padding: 0 0 2px;
    text-align: left;
}

/* REQUIRED-FIELD asterix */

.simple-form__field.REQUIRED-FIELD .simple-form__field-name::after {
    content: "*";
    text-align: left;
    margin-left: 2px;
    top: 3px;
    position: absolute;
}

.is-mobile .simple-form__field.REQUIRED-FIELD .simple-form__field-name::after {
    position: static;
}

.simple-form.SINGLE-COLUMN .simple-form__field.REQUIRED-FIELD .simple-form__field-name::after {
    position: static;
}



/* ==========================================================================
   Field Input Container
   ========================================================================== */

.simple-form__field-input-container{
    flex: 1;
    line-height:1.2; /* Needed for help text and validation-error */
}

.is-mobile .simple-form__field-input-container {
    margin-top: 2px;
}



/* ==========================================================================
   Input Help Text
   ========================================================================== */

.simple-form__input-help-text {
    color: #333;
    font-size: 12px;
    font-style:italic;
    margin-right:2px;
}



/* ==========================================================================
   Validation Error
   ========================================================================== */

.simple-form__validation-error {
    font-size: 12px;
    color: #e00;
}



/* ==========================================================================
   Buttons Panel
   ========================================================================== */

.simple-form__buttons-panel {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 0;
}