/* ==========================================================================
   Site Scrolling
   ========================================================================== */

.scroll-disabled body {
    position: fixed;
    width: 100%;
}